<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archittam</title>
    <link rel="stylesheet" href="/css/boiler.css">
</head>
<body>
    <h1>
        Archittam
    </h1>
    <a href="/users/sign-in">Go to sign in page</a> <br>
    <a href="/users/sign-out">sign out</a>
    <hr>
    <a href="/admin/addProduct"><button>go to add product page</button></a>
</body>
</html>